.fruit-card {
  border: 1px solid red;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1.1s ease;
  background: khaki;
}

.fruit-card.flip {
  transform: rotateY(180deg);
}
/* @keyframes matchingCardsScaled {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
} */

.card-face-up {
  position: absolute;
  max-width: 90%;
  top: 50%;
  left: 50%;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) rotateY(180deg);
}

.card-face-down {
  position: absolute;
  width: 100%;
  height: 100%;
  background: greenyellow;
  backface-visibility: hidden;
  transform: none;
}
