.fruit-card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  background: var(--card-face-up-bg);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.fruit-card.flip {
  transform: rotateY(180deg);
}
/* @keyframes matchingCardsScaled {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
} */

.card-face-up {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  backface-visibility: hidden;
  transform: translate(-50%, -50%) rotateY(180deg);
}

.card-face-down {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(./../assets/images/PurpleDottedBg.png);
  backface-visibility: hidden;
  transform: none;
  border-radius: 6px;
}

@media only screen and (min-width: 600px) {
  .card-face-up {
    max-width: 90%;
  }
}

@media only screen and (min-width: 900px) {
  .card-face-up {
    max-width: 70%;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .card-face-up {
    max-width: 70%;
  }
}
