.container {
  width: 80vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.6rem;
  border: 1px solid black;
  margin: auto;
  position: relative;
  perspective: 1000px;
}
