.container {
  width: 80vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0.6rem;
  border: 1px solid black;
  margin: auto;
  position: relative;
  perspective: 1000px;
}

.end-of-game {
  width: 80vw;
  height: 80vh;

  z-index: 2;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
}

.play-again-btn {
  width: 10rem;
  height: 3rem;

  background: rebeccapurple;
}
