.game-field-container {
  width: 80vw;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0.6rem;
  position: relative;
  perspective: 1000px;
}

@media only screen and (min-width: 600px) {
  .game-field-container {
    grid-template-columns: repeat(4, auto);
  }
}
@media only screen and (min-width: 800px) {
  .game-field-container {
    gap: 1rem;
  }
}
