* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bg-color-lighter: #f5b673;
  --bg-color-darker: #44703e;
  --game-score-bg: #ffef62;
  --font-color: #33091d;
  --card-face-up-bg: rgb(253, 245, 218);
  --progress-bar-filler-color: #94a3ff;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header {
  color: var(--font-color);
}
