* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bg-color-lighter: #865204;
  --bg-color-darker: #3ab32a;
  --card-face-down-color-lighter: #d8d402;
  --card-face-down-color-darker: #660220;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0.6turn,
    var(--bg-color-darker),
    var(--bg-color-lighter)
  );
  margin: auto;
  display: flex;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

header {
  color: var(--card-face-down-color-darker);
}
